{% extends 'base.html' %}

{% block body %}
<div class="container">
<h1>Registro de Falha</h1>

<label>Sintoma</label>
<select>
  <option>Degradação de tráfego</option>  <option>Mudo</option>  <option>Não afetado</option></select>
<label>Data de Início</label>
<input type="datetime-local">


<label>Descrição da Falha</label>
<textarea rows="4"></textarea>


<label>Cidades</label>
<div class="dual-list">
  <div class="list-box">
    <strong>Disponíveis</strong>
    <ul id="cidadesDisponiveis" ondragover="event.preventDefault()" ondrop="drop(event,'disp')"></ul>
  </div>

  <div class="arrow-box">
    <button onclick="moverParaSelecionadas()">➡</button>
    <button onclick="moverParaDisponiveis()">⬅</button>
  </div>

  <div class="list-box">
    <strong>Selecionadas</strong>
    <ul id="cidadesSelecionadas" ondragover="event.preventDefault()" ondrop="drop(event,'sel')"></ul>
  </div>
</div>

<label>Serviços Afetados</label>
<select id="servicosAfetados" multiple size="6">
  <option>AVV</option>
  <option>BSOD</option>
  <option>CLARO BOX TV</option>
  <option>CLARO TV+</option>
  <option>NET FONE</option>
  <option>NET VIRTUA</option>
  <option>NOW</option>
  <option>NOW ONLINE</option>
  <option>PAY TV ANALOGICO</option>
  <option>PAY TV DIGITAL</option>
  <option>TV EVERYWHERE</option>
  <option>WIFI</option>
</select>
<small>Use Ctrl ou arraste o mouse para selecionar múltiplos serviços</small>
<label>Categoria</label>
<select id="categoria" onchange="atualizarOfensores()">
  <option>Não Definida</option>
  <option>SoftSwitch</option>
  <option>Servidores/Provisionamento</option>
  <option>Links</option>
  <option>Infra Estrutura</option>
  <option>Backbone IP</option>
  <option>Geradora</option>
  <option>Canal indisponível</option>
</select>

<label>Ofensor</label>
<select id="ofensor"></select>


<label>Evento</label>
<select>
  <option>Degradação</option>
  <option>Interrupção</option>
  <option>Programada</option>
  <option>Informativo</option>
  <option>Avaliação de desempenho</option>
</select>
<label>Fila</label>
<select>
  <option>Rodrigo</option>
  <option>Ednilton</option>
  <option>Danilo</option>
  <option>Cleiton</option>
  <option>Rosemeire</option>
</select>
<label>Chamado Operadora</label>
<textarea maxlength="42" rows="2"></textarea>
<small>Máximo 42 caracteres</small>


<button onclick="cadastrar()">Cadastrar</button>
</div>

<script type="text/javascript" src="../script.js">
{% endblock %}
