{% extends 'base.html' %}

{% block body %}

<div class="container">

<h1>Registro de Falha</h1>
<br>

<label>Data Início</label>
<input type="datetime-local" id="data_inicio"><br>

<label>Cidades</label><br>

<div class="dual-list">

  <div class="list-box">
    <strong>Disponíveis</strong>
    <ul id="cidadesDisponiveis"></ul>
  </div>

  <div class="arrow-box">
    <button onclick="moverParaSelecionadas()">➡</button>
    <button onclick="moverParaDisponiveis()">⬅</button>
  </div>

  <div class="list-box">
    <strong>Selecionadas</strong>
    <ul id="cidadesSelecionadas"></ul>
  </div>

</div><br>

<label>Serviços</label>
<select id="servicosAfetados" multiple size="6"></select><br>


<label>Sintoma</label>
<select id="sintoma"></select><br>

<label>Evento</label>
<select id="evento"></select><br>


<label>Categoria</label>
<select id="categoria"></select><br>

<label>Ofensor</label>
<select id="ofensor"></select><br>


<label>Descrição</label>
<textarea id="descricao"></textarea><br>


<label>Chamado Operadora</label>
<input type="text" id="chamado_operadora"><br>



<button type="button" onclick="cadastrar()">Cadastrar</button>


<script>
    window.USUARIO_LOGADO = "{{ usuario }}";
</script>

</div>

<script src="{{ url_for('static', filename='abertura.js') }}"></script>

{% endblock %}
