<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <title>SGO - Sistema de Gestão de Outages</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Sidebar fixa -->
    {% include 'sidebar.html' %}

    <!-- Área principal -->
    <div class="main-content">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
</body>
</html>
