<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <title>SGO - Sistema de Gestão de Outages</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'sidebar.html' %}
    {% block header %}
    {% endblock %}


    {% block body %}
    {% endblock %}
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html> 