{% extends 'base.html' %}

{% block body %}
    <!-- Conteúdo principal -->
  <div class="main-content">

    <h1>Dashboard NM</h1>

    <div class="dashboard">
      <div class="card">
        <h3>Registro Abertos</h3>
        <p>86</p>
      </div>
      <div class="card">
        <h3>Registros Com Impacto</h3>
        <p>6</p>
      </div>
      <div class="card">
        <h3>MEGs</h3>
        <p>3</p>
      </div>
      <div class="card">
        <h3>SITs</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>RALs</h3>
        <p>0</p>
      </div>
    </div><br>

    <div class="dashboard">
      <div class="card">
        <h3>Helix</h3>
        <p>986</p>
      </div>
      <div class="card">
        <h3>Outages</h3>
        <p>56</p>
      </div>
      <div class="card">
        <h3>Abertos</h3>
        <p>930</p>
      </div>
      <div class="card">
        <h3>Incidentes</h3>
        <p>99</p>
      </div>
      <div class="card">
        <h3>Degradação</h3>
        <p>0</p>
      </div>
    </div><br>

    <div class="dashboard">
      <div class="card">
        <h3>Sem Impacto</h3>
        <p>986</p>
      </div>
      <div class="card">
        <h3>Novos</h3>
        <p>56</p>
      </div>
      <div class="card">
        <h3>Abertos</h3>
        <p>90</p>
      </div>
      <div class="card">
        <h3>#</h3>
        <p>9</p>
      </div>
      <div class="card">
        <h3>Minha fila</h3>
        <p>0</p>
      </div>
    </div>

  </div>

{% endblock %}
