{% extends 'base.html' %}

{% block body %}
    <!-- Conteúdo principal -->
  

    <h1>Dashboard NM</h1>

    <div class="dashboard">

      <a href="{{ url_for('ticket_aberto')}}">
      <div class="card">
        <h3> Tickets Abertos</h3>
        <p id="card_abertos"></p>
      </div>
      </a>

      <a href="{{ url_for('ticket_aberto')}}">
      <div class="card">
        <h3>Tickets atualizar </h3>
        <p id="card_nao_tratados"></p>
      </div>
      </a>

      <a href="{{ url_for('ticket_aberto')}}">
      <div class="card">
        <h3>Tickets com impacto</h3>
        <p id="card_com_impacto"></p>
      </div>
      </a>
      <a href="{{ url_for('meg_detalhe')}}">
      <div class="card" id="card_meg_box">
        <h3>MEGs</h3>
        <p id="card_meg"></p>
      </div>
      </a>

      <a href="http://sit.nocclarobrasil.com.br/Arcos/SitSuporte.aspx" target="_blank">
      <div class="card" id="card_sit_box">
        <h3>SITs</h3>
        <p id="card_sit">0</p>
      </div>
      </a>

      <div class="card">
        <h3>Helix</h3>
        <p>986</p>
      </div>
      <div class="card">
        <h3>Outages</h3>
        <p>56</p>
      </div>
      <div class="card">
        <h3>Abertos</h3>
        <p>930</p>
      </div>
      <div class="card">
        <h3>Tickets não tratados</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>Ticket em tratamento</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>Ticket parado</h3>
        <p>986</p>
      </div>
      <div class="card">
        <h3>Novos</h3>
        <p>56</p>
      </div>
      <div class="card">
        <h3>Abertos</h3>
        <p>90</p>
      </div>
      <div class="card">
        <h3>Sem impacto</h3>
        <p>9</p>
      </div>
      <div class="card">
        <h3>Minha fila</h3>
        <p>0</p>
      </div>
    </div>

<script src="{{ url_for('static', filename='home.js') }}"></script>

{% endblock %}
