{% extends 'base.html' %}

{% block body %}
    <!-- Conteúdo principal -->
  <div class="main-content">
    <h1>Dashboard NM</h1>
    <div class="dashboard">
      <div class="card">
        <h3>Volumetria</h3>
        <p>986</p>
      </div>
      <div class="card">
        <h3>Novos</h3>
        <p>56</p>
      </div>
      <div class="card">
        <h3>Abertos</h3>
        <p>930</p>
      </div>
      <div class="card">
        <h3>Segurança Pública</h3>
        <p>99</p>
      </div>
      <div class="card">
        <h3>Minha fila</h3>
        <p>0</p>
      </div>
    </div>
  </div>

{% endblock %}