{% extends 'base.html' %}

{% block body %}
<div class="ofensor_container">
    <div class="ofensor_incluir">
        <h3>Novo Ofensor</h3>
        <label>Ofensor:</label>
            <input type="text" id="novo_ofensor">
        <label>Cidade:</label>  
        <Select id="cidade_incluir"><option value="">Selecione a cidade</option></Select>
        <label>Categoria:</label>
        <select id="categoria_incluir"><option value="">Selecione a categoria</option></select>
        </br></br>
            <button id="btnIncluirOfensor">Incluir</button>
    </div>
        <div class="ofensor_consultar">

        <h3>Consultar Ofensor</h3>

        <label>Cidade:</label>
        <select id="cidade_consulta"><option value="">Selecione a cidade</option></select>
        <label>Categoria:</label>
        <select id="categoria_consulta"><option value="">Selecione a categoria</option></select>
        <label>Ofensor:</label>
        <select id="ofensor_consulta"><option value="">Selecione o ofensor</option></select>

        </br></br>

        <button id="btnExcluirOfensor">Excluir</button>

    </div>
        
</div>
<script src="{{ url_for('static', filename='ofensor.js') }}"></script>
{% endblock %}