<!-- Sidebar -->
  <div class="sidebar">
    <h2>SGO</h2>
    <ul>
      <li>Home</li>
      <li>Página inicial</li>
      <li>Incidentes
        <ul>
          <li>Consultar</li>
          <li>Listar</li>
          <li>Incidentes abertos</li>
          <li>Listar (Beta)</li>
          <li>Incidentes abertos (Beta)</li>
          <li>Novo</li>
        </ul>
      </li>
      <li>Painéis</li>
      <li>Abrir Registro
        <ul>
          <li>Novo</li>
        </ul>
      </li> 
      <li>Consultas
        <ul>
          <li>Consulta Incidentes Datacenter</li>
          <li>Consulta Reg. de Falha</li>
          <li>Consulta Manobras</li>
          <li>Consulta Manobras abertas</li>
        </ul>
      </li> 
      <li>Painel
        <ul>
          <li>Painel de Outages</li>
          <li>Painel Monitoração</li>
        </ul>
      </li> 
      <li>Relatórios
        <ul>
          <li>CMTS X Node</li>
          <li>Manobeas</li>
          <li>Outages</li>
          <li>Outages x Manobras</li>
        </ul>
      </li>
      <li>Gerenciamento Monitor
        <ul>
          <li>Excluir Tickets</li>
          <li>Ofensor</li>
        </ul>
      </li>
    </ul>
  </div>