<!-- Sidebar -->
  <div class="sidebar">
    <img src="{{ url_for('static', filename='img/logo_sidebar.png')}}">
    <ul><a href="/">
      <li>Home</li>
      <li>Página inicial</li></a>
      <li class="menu_main">Incidentes
        <ul class="menu_option">
          <li><a href="{{ url_for('consulta_incidentes')}}">Consultar</a></li>
          <li>Listar</li>
          <li><a href="{{ url_for('ticket_aberto')}}">Incidentes abertos</a></li>
          <li>Listar (Beta)</li>
          <li>Incidentes abertos (Beta)</li>
          <li>Novo</li>
        </ul>
      </li>
      <li class="menu_main">Abrir Registro
        <ul class="menu_option">
          <li><a href="{{ url_for('abrir_registro')}}">Novo</a></li>
        </ul>
      </li> 
      <li class="menu_main">Consultas
        <ul class="menu_option">
          <li>Consulta Incidentes Datacenter</li>
          <li><a href="{{ url_for('consulta_incidentes')}}">Consulta Tickets</a></li>
          <li>Consulta Manobras</li>
          <li>Consulta Manobras abertas</li>
          <li><a href="{{ url_for('ticket_aberto')}}">Tickets abertos</a></li>
        </ul>
      </li> 
      <li class="menu_main">Painel
        <ul class="menu_option">
          <li><a href="https://newmonitor.claro.com.br/user/painel/outage_painel_consolidado_sgo.php" target="_blank">Painel de Outages</a></li>
          <li>Painel Monitoração</li>
        </ul>
      </li> 
      <li class="menu_main">Relatórios
        <ul class="menu_option">
          <li><a href="{{ url_for('tela_relatorios')}}">Tickets</a></li>
          <li>Manobeas</li>
          <li>Outages</li>
          <li>Outages x Manobras</li>
        </ul>
      </li>
      <li class="menu_main">Gerenciamento Monitor
        <ul class="menu_option">
          <li>Excluir Tickets</li>
          <li><a href="{{ url_for('registra_ofensor')}}">Ofensor</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="{{ url_for('static', filename='sidebar.js')}}" defer></script>