{% extends 'base.html' %}

{% block body %}

<h2>Tickets Abertos</h2>

<table class="dash_abertos"border="1" width="100%">
    <thead>
        <tr>
            <th onclick="ordenarPor('id_ticket')">Ticket</th>
            <th onclick="ordenarPor('cidades')">Cidade</th>
            <th onclick="ordenarPor('servicos')">Serviço</th>
            <th onclick="ordenarPor('evento')">Evento</th>
            <th onclick="ordenarPor('categoria')">Categoria</th>
            <th onclick="ordenarPor('ofensor')">Ofensor</th>
            <th onclick="ordenarPor('data_inicio')">Abertura</th>
            <th onclick="ordenarPor('ultima_atualizacao')">Última Atualização</th>
            <th onclick="ordenarPor('chamado_operadora')">Chamado</th>
            <th onclick="ordenarPor('outage')">Outage</th>
            <th onclick="ordenarPor('usuario')">Usuário</th>
        </tr>
    </thead>

    <tbody id="tabela_tickets"></tbody>
</table>

<script src="{{ url_for('static', filename='tickets_dash.js')}}" defer></script>

{% endblock %}