{% extends 'base.html' %}

{% block body %}

<h2>Tickets Abertos</h2>

<table class="dash_abertos"border="1" width="100%">
    <thead>
        <tr>
            <th onclick="ordenarPor('id_ticket')">Ticket</th>
            <th onclick="ordenarPor('cidades')">Cidade</th>
            <th onclick="ordenarPor('servicos')">Serviço</th>
            <th onclick="ordenarPor('sintoma')">Sintoma</th>
            <th onclick="ordenarPor('evento')">Evento</th>
            <th onclick="ordenarPor('categoria')">Categoria</th>
            <th onclick="ordenarPor('ofensor')">Ofensor</th>
            <th onclick="ordenarPor('chamado_operadora')">Chamado</th>
            <th onclick="ordenarPor('usuario')">Usuário</th>
        </tr>
    </thead>

    <tbody id="tabela_tickets"></tbody>
</table>

<!-- ✅ MODAL DE FECHAMENTO -->
<div id="modal_fechamento" style="
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
">

    <div style="
        background:white;
        padding:20px;
        width:400px;
        margin:100px auto;
    ">

        <h3>Fechar Ticket</h3>

        <label>Data Final</label>
        <input type="datetime-local" id="data_final"><br>

        <label>Causa</label>
        <input id="causa"><br>

        <label>Solução</label>
        <input id="solucao"><br><br>

        <button id="btn_confirmar">Confirmar</button>
        <button onclick="fecharModal()">Cancelar</button>

    </div>
</div>

<script src="{{ url_for('static', filename='tickets.js')}}" defer></script>

{% endblock %}